<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Choppermed Manager</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Choppermed Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medicos}">Médicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pacientes}">Pacientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/agendamentos}">Agendamentos</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="mt-5 mb-4">Lista de Agendamentos</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Médico</th>
            <th>Data e Hora</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agendamento : ${agendamentos}">
            <td th:text="${agendamento.id}"></td>
            <td th:text="${agendamento.paciente.nome}"></td>
            <td th:text="${agendamento.medico.nome}"></td>
            <td th:text="${agendamento.dataHora}"></td>
            <td>
                <a class="btn btn-outline-info" th:href="@{/agendamentos/{id}(id=${agendamento.id})}">Detalhes</a>
                <a class="btn btn-outline-warning" th:href="@{/agendamentos/editar/{id}(id=${agendamento.id})}">Editar</a>
                <a class="btn btn-outline-danger" th:href="@{/agendamentos/excluir/{id}(id=${agendamento.id})}" onclick="return confirm('Tem certeza que deseja excluir o agendamento permanentemente?')">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-outline-success" th:href="@{/agendamentos/novo}">Novo Agendamento</a>
</div>

<!-- Rodapé -->
<footer class="bg-light text-center py-3 mt-5">
    <p>&copy; 2023 Choppermed Manager.</p>
</footer>

</body>
</html>
